{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CnCTown</title>
</head>
<body

<!--header-->

<div id="header">
    <!--<div id="top_color_bar"></div>-->
    <div id="header_tool_bar">
        <div id="header_contains">
            <div id="logo">
                <form id="logo_form" method="get" action="">
                    <img id="img_logo" onclick="document.getElementById('logo_form').submit()" src="../image/logo.png" alt="로고"/>
                    <!--<p id="txt_logo" onclick="document.getElementById('logo_form').submit()">Narsha Tech</p>-->
                </form>
            </div>
            <div id="menu_list">
                <ul>

                    <li>
                        <form id="help" method="get" action="">
                            <p id="header_help" onclick="document.getElementById('help').submit()">help</p>
                        </form>
                    </li>
                    <li>
                        <p>|</p>
                    </li>

                    <li>
                        <form id="hosting" method="get" action="">
						<a href="hosting.html">
                            <p id="header_hosting" onclick="document.getElementById('hosting').submit()">hosting</p>
						</a>
						</form>
                    </li>

                    <li>
                        <p>|</p>
                    </li>

                    <li>
                        <form id="signin" method="get" action="">
						<a href="sign_in.html">
                            <p id="header_sign_in" onclick="document.getElementById('signin').submit()">sign in</p>
                        </a>
						</form>
                    </li>
                    <li>
                        <p>|</p>
                    </li>

                    <li>
                        <form id="signup" method="get" action="">
						<a href="sign_up.html">
                            <p id="header_sign_up" onclick="document.getElementById('signup').submit()">sign up</p>
                        </a>
						</form>
                    </li>
            </ul>
            </div>
        </div>
    </div>
    <div id="bottom_color_bar"></div>
</div>

<%block slide%>
<%endblock%>

<%block content%>
<%endblock%>


<!--<div class="slideshow-container">-->
  <!--<div class="mySlides fade">-->
    <!--<div class="numbertext">1 / 3</div>-->
    <!--<img src="../image/logo.png" style="width:100%">-->
    <!--<div class="text">Caption Text</div>-->
  <!--</div>-->

  <!--<div class="mySlides fade">-->
    <!--<div class="numbertext">2 / 3</div>-->
    <!--<img src="../image/logo.png" style="width:100%">-->
    <!--<div class="text">Caption Two</div>-->
  <!--</div>-->

  <!--<div class="mySlides fade">-->
    <!--<div class="numbertext">3 / 3</div>-->
    <!--<img src="../image/logo.png" style="width:100%">-->
    <!--<div class="text">Caption Three</div>-->
  <!--</div>-->

  <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
  <!--<a class="next" onclick="plusSlides(1)">&#10095;</a>-->
<!--</div>-->
<!--<br>-->

<!--<div style="text-align:center">-->
  <!--<span class="dot" onclick="currentSlide(1)"></span>-->
  <!--<span class="dot" onclick="currentSlide(2)"></span>-->
  <!--<span class="dot" onclick="currentSlide(3)"></span>-->
<!--</div>-->
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hostring.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slideshow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
<script type="text/javascript" src="../scripts/slideshow.js"></script>
</body>
</html>
