{% extends 'base.html' %}
<%block content%>
  {% if contents is not none %}
    <h1> data exist </h1>
    {% for content in contents %}
        <div class="container_j">
            <a href="https://trello.com/b/reuaCfXg/campustown" target="_blank" rel="noopener noreferer" class="link_j">
                <img src={{content.image}}>
                <div class = "product_explain">
                    <div class="twoLineTitle">
                        <span><p>{{content.title}}</p></span>
                        <div class="inline_g">
                            <span class="text_5"><p>{{content.text}}</p></span>
                        </div>
                    </div>
                </div>
                <div class="product_score">
                    <div ><p>별점</p></div>
                </div>
            </a>
        </div>
  {% endfor %}
  {% else %}
      <p>Data doesn't exist</p/>
  {% endif %}
  </div>
<%endblock%>
