<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/hosting_sidebar.css">
    <link rel="stylesheet" href="../stylesheet/hosting_form_three.css">
    <link rel="stylesheet" href="../stylesheet/textstyle.css">
    <link rel="stylesheet" href="../stylesheet/hostN.css">
    <link rel="stylesheet" href="../stylesheet/input.css">
</head>
<body>
<div id="side_bar">
    <div id="side_bar_logo">
        <img id="img_side_bar_logo" src="../image/logo.png" alt="로고"/>
    </div>
    <div id = "form_sort">
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number_selected">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
    </div>
</div>
<div id="contain">
    <form>
        <div id="host_col0" style="border: 1px solid blue">
            <div id="col0_first" style = "border: 1px solid red">
                <h2 class="imp_level2_5">6. 안내</h2>
                <br/><br/>
                <label class="imp_level2">최대 인원</label>
                <p class="imp_level0_5">최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원</p>
                <br/><br/><br/>

                <select class="box select_border"  id="member_number">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select><br/><br/>

                <label class="imp_level2">요금</label>
                <p class="imp_level0_5">최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원최대 인원</p>
                <br/><br/>
                <a href="???">요금 책정 가이드</a>
                <br/><br/>

                <select class="box select_border" id="price">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select><br/><br/>
            </div>
        </div>
        <div id="host_col1" style="border: 1px solid yellow">
            <div id="col1_first" style = "border: 1px solid red">
                <label class="imp_level2">라스트팡</label>
                <p class="imp_level0_5" style="margin:10px 0 0 0;">준비시간</p>
                <br/><br/>
                <select class="box select_border" id="start_time" style="margin:auto auto 10px 0">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <select class="box select_border" id="end_time">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <a href="#" style="float:right;padding: 0 20px 0 0;">주의-노쇼</a><br/><br/>

                <label class="imp_level2">필수 준비물 목록</label>
                <p>준비시간</p>
                <br/><br/>
                <textarea class="imp_level0" style="width:400px;height:90px;"></textarea>
                <input class="btn btn-nar" type="submit" value="button" style="float:right; margin: 20px 10px 0 0;">
            </div>
        </div>
        <div id="host_col2">

        </div>
    </form>

</div>
</body>
</html>
