<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/hosting_sidebar.css">
	<link rel="stylesheet" href="../stylesheet/host0_1_2_8.css">
</head>
<body>
<div id="side_bar">
    <div id="side_bar_logo">
		<a href="mainPage.html">
			<img id="img_side_bar_logo" src="../image/logo.png" alt="로고"/>
		</a>
    </div>
    <div id = "form_sort">
        <div class="form_number">
			<a href="host0.html">
				<p>number1</p>
			</a>
        </div>
        <div class="form_number">
			<a href="host1.html">
				<p>number1</p>
			</a>
        </div>
        <div class="form_number_selected">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
                <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
    </div>
</div>

<div id = "hosting_form_two">
    <div class="host2_f_one">
		<form id="host2_form" method="get" action="host2.jsp">		<!-- 서버에서 host3으로 연결 --->
      <!-- language -->
			<div>
				<h2>제목</h2>
				<p class="host_two_text">본문</p>
				<br>
					<select class="select_border">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				<br>
			</div>
      <!-- category -->
			<div>
				<h2>제목</h2>
				<p class="host_two_text">본문</p>
				<br>
					<select class="select_border">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				<br>
			</div>
			<div>
				<input class="btn btn-blue" id="host2_btn" type="button" value="Button">
			</div>
		</form>
    </div>
	<div class="host2_f_two_three">
		<h2>제목</h2>
		<div class="host2_graph">

		</div>
	</div>
	<div class="host2_f_two_three">
		<div class="host2_graph">

		</div>
		<h2>제목</h2>
		<p class="host_two_text">본문</p>
	</div>
</div>
</body>
</html>
