<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/hosting_sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'css/host0_1_2_3_8.css' %}">
</head>
<body>
<div id="side_bar">
    <div id="side_bar_logo">
		<a href="mainPage.html">
			<img id="img_side_bar_logo" src="{% static 'image/logo.png' %}" alt="로고"/>
		</a>
    </div>
    <div id = "form_sort">
		<div class="form_number">
			<a href="host0.html">
				<p>number1</p>
			</a>
		</div>
        <div class="form_number">
			<a href="host1.html">
				<p>number1</p>
			</a>
        </div>
        <div class="form_number">
			<a href="host2.html">
				<p>number1</p>
			</a>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number">
            <p>number1</p>
        </div>
        <div class="form_number_selected">
            <p>number1</p>
        </div>
    </div>
</div>

<div id = "hosting_form_two">
    <div class="host8_f_one_two">
		<h2>검토</h2>
		<p class="host_two_text">제목</p>
		{{new_activity.title}}
		<p class="host_two_text">카테고리</p>
		{{new_activity.category}}
		<p class="host_two_text">언어</p>
		{{new_activity.language}}
		<p class="host_two_text">여행장소</p>
		{{new_activity.activityLocation}}
		<p class="host_two_text">여행 소개</p>
		{{new_activity.activityIntroduction}}
		<p class="host_two_text">교통수단</p>
		{{new_activity.vehicle}}
		<p class="host_two_text">집합장소</p>
		{{new_activity.meetingPlace}}
		<p class="host_two_text">가격</p>
		{{new_activity.price}}
		<p class="host_two_text">최대인원</p>
		{{new_activity.maximumCapacity}}
		<p class="host_two_text">기타 주의사항</p>
		{{new_activity.additionalInformation}}
		<p class="host_two_text">준비시간</p>
		{{new_activity.readyTime}}
		<p class="host_two_text">막바지 준비시간</p>
		{{new_activity.lastReadyTime}}
		 <div>
				<input class="btn btn-blue" id="host2_btn" type="button" value="Submit"> 
				
			</div>
	

    </div>
    
</body>
</html>
