.imp_level1{
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 27px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.imp_level2{
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 22px !important;
    line-height: 28px !important;
    letter-spacing: -0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.imp_level3{
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 36px !important;
    line-height: 44px !important;
    letter-spacing: -0.6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
