body {
  width: 100%;
  height: 100%;
  margin: 3%;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}

#total_display {
  width: 100%;

}

#left_display {
  width: 49%;
  float: left;
  display: inline-block;
}

#right_display {
  width: 48%;
  float: right;
  display: inline-block;
}

#bookmark {

}

.detail_container {
 border-bottom: solid 0.5px black;
}

.outline_container {
 border-bottom: solid 0.5px black;
}

#title {
  display: block;
  font-size: 35px;
  width: 100%;
  font-weight:bold;
  border-bottom: solid 0.5px black;
}

.text_description {
  display: block;
  font-size: 18px;
}

.text_description_title {
  display: block;
  font-size: 25px;
  font-weight: bold;
}

#review_photo {

}

#hash_tag_container {

}

.content_container {
  border-bottom: solid 0.5px black;
  display: block;
}

.recommended_container {
  clear: left;
  border-bottom: solid 0.5px black;
}

.host_container_sub {
}

#host_name {
  font-size: 20px;
}

#price {

}

#photo {

}

#ranking {

}

.sharing {

}

.link {
  font-size: 12px;
  text-align: right;
}

.specific_description {

}

#hash_tag {
  font-style: italic;
  font-style: oblique;
}
