{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CnCTown</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign_in_up.css' %}">
</head>
<body>
<div id="header">
    <!--<div id="top_color_bar"></div>-->
    <div id="header_tool_bar">
        <div id="header_contains">
            <div id="logo">
                <form id="logo_form" method="get" action="">
                    <img id="img_logo" onclick="document.getElementById('logo_form').submit()" src="../image/logo.png" alt="로고"/>
                    <!--<p id="txt_logo" onclick="document.getElementById('logo_form').submit()">Narsha Tech</p>-->
                </form>
            </div>
            <div id="menu_list">
                <ul>

                    <li>
                        <form id="help" method="get" action="">
                            <p id="header_help" onclick="document.getElementById('help').submit()">help</p>
                        </form>
                    </li>
                    <li>
                        <p>|</p>
                    </li>

                    <li>
                        <form id="hosting" method="get" action="">
                            <p id="header_hosting" onclick="document.getElementById('hosting').submit()">hosting</p>
                        </form>
                    </li>

                    <li>
                        <p>|</p>
                    </li>

                    <li>
                        <form id="signin" method="get" action="">
                            <p id="header_sign_in" onclick="document.getElementById('signin').submit()">sign in</p>
                        </form>
                    </li>
                    <li>
                        <p>|</p>
                    </li>

                    <li>
                        <form id="signup" method="get" action="">
                            <p id="header_sign_up" onclick="document.getElementById('signup').submit()">sign up</p>
                        </form>
                    </li>



            </ul>

            </div>


        </div>


    </div>
    <div id="bottom_color_bar"></div>
</div>


<div id="sign_in">
    <div id="background_in"/>
    <!--{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}-->
    <div id="signup_content" class="content">
        <div id="wrapper_login_form" class="box">

            <form id="login_form" method="post" action="">{% csrf_token %}
                <a>로그인</a>
                <input type="hidden" name="hiddenvalue" value='signin'>
                <br>
                <label for="username">ID</label>
                <input class="input_border" type="text" name="username" id="username"><br>
                <label for="Password">Password</label>
                <input class="input_border" type="password" name="password"id="password"><br><br>
                <input class="btn btn-blue" type="submit" value="Sign In">
                <br/>

            </form>
            <form id="find_pw_id" method="get" action="">
                <p id="findPw" onclick="document.getElementById('find_pw_id').submit()">find password or id</p>
            </form>

        </div>
    </div>
</div>

</body>
</html>
